<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body style="background-color: gray;">
        <center>
        <div style=" border-radius: 15px; padding: 15px; width: 500px;">
            <label class="main_label">{0}</label>
            <br>
            <br>
        <form action="">
            <input class="main_input" type="submit" value="Back" formaction="/">
        </form>
        </div>
        </center>
    </body>
</html>