<html>
    <head>
        <title>mining.html</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    </head>
    <body style="background-color: gray;">
        <div>
            <form>
                <button class="game_button" val="Home" type="submit" formaction="/home">Home</button>
                <button class="game_button" value="Mine" type="submit" formaction="/miningMode" disabled>Mine</button>
                <button class="game_button" value="Sell" type="submit" formaction="/sellingMode">Sell</button>
                <button class="game_button" value="Buy" type="submit" formaction="/buyingMode">Buy</button>
                <button class="game_button" value="Refine" type="submit" formaction="/refinery">Refine</button>
                <button class="game_button" value="Craft" type="submit" formaction="/crafting">Craft</button>
                <button class="game_button" value="Orders" type="submit" formaction="/orders">Orders</button>
                <button class="game_button" value="Settings" type="submit" formaction="/settings">Settings</button>
                <button class="game_button" value="Save" type="submit" formaction="/save">Save</button>
                <button class="game_button" value="Quit" type="submit" formaction="/quit">Quit</button>
                <input type="text" name="playerName" value="{2}" hidden/>
            </form>
        </div>
        <div class="inventory_div">
            <label class="game_label_title">Inventory</label>
            <hr>
            {0}
        </div>
        <div align="center" class="div_colors" style=" position: fixed; top: 65; left: 300; width: 600px;">
            <form>
                <input type="text" name="playerName" value="{2}" hidden/>
                <div align="left" class="div_colors" style=" position: fixed; top: 65; left: 950; width: 250px;">
                    <label class="game_label_title">Tools</label>
                    <hr>
                    {4}
                </div>
                <label class="game_label_title">Quarry</label>
                <hr>
                <br>
                <input type="text" name="playerName" val="{2}" hidden/>
                    {1}
            </form>
        </div>
        
        <div class="div_colors" style="position: relative; top: 50; width: 200px;">
            <label class="game_label_title">Material Found</label>
            <hr>
            {3}
        </div>
    </body>
</html>