<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body style="background-color: gray;">
        <center>
        <div style="padding: 100px 500px 100px 500px; border-radius: 15px; width: 200px;">
        <form action="">
            <label class="main_label">Player Name: </label>
            <br>
            <br>
            <input class="main_text_input" type="text" name="playerName" required>
            <br>
            <br>
            <input class="main_input" type="submit" formaction="{0}">
        </form>
        </div>
        </center>
    </body>
</html>